/* :root {
	--primary-color: #463F3A;
	--primary-bg-color: #F4F3EE;
	--secondary-bg-color: #BCB8B159;
	--tertiary-bg-color: #CBC6BE;
} */

.dashboard {
	max-width: 1050px;
}

.row .card {
	background-color: var(--primary-bg-color);
	border: none;
}