:root {
	/* --primary-color: #463f3a; */
	--primary-color: #000;
	--secondary-color: #f4f3ee;
	--primary-bg-color: #f4f3ee;
	--secondary-bg-color: #000;
	/* --secondary-bg-color: #463f3a; */
	/* --secondary-bg-color--transparent: #bcb8b159; */
	--secondary-bg-color--transparent: #00000059;
	--tertiary-bg-color: #cbc6be;
}

footer {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}

.footer-rights {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}

footer .subscribe-field {
	box-shadow: 0px 4px 10px var(--secondary-bg-color--transparent);
	height: 41px;
	padding-inline: 1.5em;
}

footer .footer-link {
	text-decoration: none;
	color: var(--primary-color);
}

footer .footer-link:hover {
	text-decoration: underline solid var(--primary-color);
}