h1 {
	font-family: "engravers", serif;
	letter-spacing: -8px;
	font-size: 6em;
}

@media screen and (width < 768px) {
	h1 {
		font-size: 4em;
	}
}

@media screen and (width < 500px) {
	h1 {
		font-size: 2.5em;
	}
}

/*------------ Products Start -----------*/
.products .row .card {
	border-radius: 20px;
	padding: 0;
	font-size: larger;
	border: none;
	/* background: none; */
}

.products .row .card .card-body {
	--secondary-bg-color--transparent: rgba(0, 0, 0, 0.5);
	--def-transition-duration: 0.33s;
	position: absolute;
	top: 50%;
	left: 50%;
	display: grid;
	place-content: center;
	text-align: center;
	transform: translate3d(-50%, -50%, 0);
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color--transparent);
	width: 91.5%;
	height: 93%;
	border-radius: 0.5em;
	visibility: hidden;
	opacity: 0;
	transition: var(--def-transition-duration) ease-in-out;
	transition-property: visibility, opacity;
}

.products .row .card a:hover .card-body {
	opacity: 1;
	visibility: visible;
}

.products .row .card .card-body del,
.products .card del {
	text-decoration-color: red;
}

.products .row .card a {
	color: var(--text-color);
	text-decoration: none;
}

.products .row .card a.wishlist_icon ion-icon {
	font-size: 1.4rem;
}

.products .row .card .btn {
	background: wheat;
	color: black;
	margin-top: 10px;
}

.products .row .card .btn:hover {
	background: rgba(245, 222, 179, 0.8);
}

.products .row .card .product-img-container {
	display: grid;
	place-items: center;
	min-height: 15em;
	border-radius: 0.8em;
	overflow: hidden;
}

.products .row .card .product-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--def-transition-duration) ease-in-out scale;
}

.products .row .card a:hover .product-img-container img {
	scale: 1.25;
}
/*------------ Products End -----------*/

/*------------ Product Start -----------*/
.product .card {
	background: none;
	border: none;
	margin: auto;
	font-size: larger;
	margin-top: 2%;
}

.product .card .card-body {
	text-align: justify;
}

.product .card .card-body button.plus-btn.btn,
.product .card .card-body button.min-btn.btn {
	color: rgb(34, 23, 4);
}

.product .card .card-body .quantity {
	padding-inline: 1rem;
}

.product .card .card-body button.plus-btn.btn:hover,
.product .card .card-body button.min-btn.btn:hover {
	color: rgb(126, 87, 16);
}
/*------------ Product End -----------*/

/*------------ Product Image Grid start -----------*/
.product-images-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 250px;
	grid-gap: 10px;
	grid-auto-flow: dense;
}

.product-images-grid .product-img-item {
	overflow: hidden;
	position: relative;
	border-radius: 0.8em;
}

.product-images-grid .product-img-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.product-images-grid .product-img-item:hover img {
	transform: scale(1.1);
}

/* Custom Spanning for Larger Items */
.product-images-grid .product-img-item:nth-of-type(5n + 1) {
	grid-column: span 2;
	grid-row: span 2;
}
.product-images-grid .product-img-item:nth-of-type(5n + 3) {
	grid-row: span 2;
}

/* .product-img-item:nth-of-type(5n + 3), */
.product-images-grid .product-img-item:nth-of-type(5n + 4) {
	grid-column: span 1;
	grid-row: span 1;
}

/* Adjust for Smaller Screens */
@media (max-width: 768px) {
	.product-images-grid {
		display: flex;
		aspect-ratio: 9 / 12;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
		background-color: var(--primary-bg-color);
		border-radius: .8rem;
	}

	.product-images-grid .product-img-item {
		flex: 1 0 100%;
		scroll-snap-align: start;
	}
}
/*------------ Product Image Grid End -----------*/


/*------------ Product Attribute Start -----------*/
input[type="radio"] {
	display: none;
}

label:has(> input[type="radio"]) {
	background: #fff;
	/* border: 1px solid var(--secondary-bg-color); */
}

label:has(> input[type="radio"]):hover {
	background: #fff;
	border: 1px solid var(--secondary-bg-color);
}

label:has(> input[type="radio"]:checked) {
	background: var(--primary-color);
	color: var(--primary-bg-color);
}
/*------------ Product Attribute End -----------*/

/*-------------------- Pagination Start ------------------*/
.pagination .page-item a {
	background: black;
	color: #969696;
}

.pagination .page-item.active a {
	background: #33343a;
	color: white;
	border: 1px solid white;
}

.pagination .page-item a:hover {
	background: #969696;
	color: black;
}

.pagination .page-item .page-link span {
	color: white;
}

.pagination .page-item.disabled .page-link span {
	color: #969696;
}

/*-------------------- Pagination End ------------------*/
