:root {
	/* --primary-color: #463f3a; */
	--primary-color: #000;
	--secondary-color: #f4f3ee;
	--primary-bg-color: #f4f3ee;
	--secondary-bg-color: #000;
	/* --secondary-bg-color: #463f3a; */
	/* --secondary-bg-color--transparent: #bcb8b159; */
	--secondary-bg-color--transparent: #00000059;
	--tertiary-bg-color: #cbc6be;
}

* {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	background-color: var(--primary-bg-color);
	overflow: hidden;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(100vw - .5em);
	background-color: var(--primary-bg-color);
	display: grid;
	place-content: center;
	z-index: 10000;
}

.loading.hide {
	animation: 1s ease-in-out forwards hideLoader 1;
}

@keyframes hideLoader {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

.loading svg {
	position: relative;
	bottom: 6.5em;
	right: 2em;
	width: 10em;
	height: 30em;
}

.loading svg :is(.st0, .st2, .st4) {
	stroke-width: 12;
	font-size: 25rem;
	font-weight: 700;
	text-transform: uppercase;
	stroke: var(--secondary-bg-color);
	animation: 3s infinite alternate ease-in-out animate-stroke;
}

.loading svg .st3 {
	fill: var(--primary-bg-color);
}

@keyframes animate-stroke {
	0% {
		fill: transparent;
		stroke: var(--secondary-bg-color);
		stroke-width: 3;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 32%;
	}

	50% {
		fill: transparent;
		stroke: var(--secondary-bg-color);
		stroke-width: 3;
	}

	80%,
	100% {
		fill: var(--secondary-bg-color);
		stroke: transparent;
		stroke-width: 0;
		stroke-dashoffset: -25%;
		stroke-dasharray: 32% 0;
	}
}

::-webkit-scrollbar {
	background-color: var(--primary-bg-color);
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
}

.btn.btn-primary {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-color);
}

.btn.btn-primary:hover {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}



/*      Custom Classes      */
.min-h-96 {
	min-height: 24em;
}

/* 		Buttons			 */
.btn.basket
{
	color: var(--primary-color);
	border-radius: 10px;
	border: 1px var(--primary-color) solid;
}

.btn.basket:hover, .btn.basket.filled
{
	color: var(--primary-bg-color);
	background: var(--primary-color);
	border: 1px var(--primary-color) solid;
	/* box-shadow: 0 0 5px wheat; */
}

.btn.basket.filled:hover
{
	/* box-shadow: none; */
	--primary-color: #322d29;
	background: var(--primary-color);
}

a.btn-shop, a.btn-shop:hover
{
	text-decoration: none;
	color: rgb(116, 91, 50);;
}

a.btn-shop:hover
{
	text-decoration: 1px solid rgb(116, 91, 50) underline;
}

.btn-shop ion-icon
{
	transform: translateY(-50%);
	transition: .5s;
}

.btn-shop:hover ion-icon
{
	transform: translateX(-10px) translateY(-50%);
}

  /* ---- Add and Remove Icons ---- */
.plus-btn.btn, .min-btn.btn
{
	color: #969696;
}
.plus-btn.btn:hover, .min-btn.btn:hover
{
	color: wheat;
	cursor: pointer;
}


/*--------------- Basket Summary Start ---------------*/
.product-item {
	max-width: 60rem;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05), inset 5px 5px 15px rgba(0, 0, 0, 0.5); background-color: #141414;
	color: wheat;
}
/*--------------- Basket Summary End ---------------*/