{% extends 'account/layout.html' %}

{% block title %}Sign In{% endblock %}

{% block form_body %}
<!-- <div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row">
						<div class="auth_form col-12 col-lg-7 mx-auto"> -->
							<form action="" class="rounded mx-auto p-4 col-lg-10" method="post">
								{% csrf_token %}
								<h3 class="mb-4">Sign In</h3>
								<!-- <p class="mb-4 text-muted">It's free and only takes a minute.</p> -->
								{% if 'email' in request.get_full_path %}
									<div class="alert alert-success alert-dismissible fade show mb-4">
										Thankyou, please check your inbox for the reset password email.
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									</div>
								{% endif %}
								{% if 'complete' in request.get_full_path %}
									<div class="alert alert-success alert-dismissible fade show mb-4">
										Your password has been Reset.
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									</div>
								{% endif %}
								{% if form.errors %}
								<div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
									Error: Username or Password is incorrect!
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
								{% endif %}

								<label for="">{{ form.username.label }}</label>
								{{ form.username }}
								<label for="">{{ form.password.label }}<span class="text-secondary small"></span></label>
								<small class="form-text text-secondary mb-4 small">At least 8 characters and 1 digit</small>
								{{ form.password.help_text }}
								{{ form.password }}
								<input class="btn w-100" type="submit" value="Login">
								<p class="text-center">
									Don't have an account? <a href="{% url 'account:register' %}" class="link-success">Sign Up</a><br>
									Forgotten password? <a href="{% url 'account:pwd_reset' %}" class="link-danger">Reset Here</a>
								</p>
							</form>
						<!-- </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

{% endblock form_body %}