footer {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}

.footer-rights {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}

footer .subscribe-field {
	box-shadow: 0px 4px 10px var(--secondary-bg-color--transparent);
	height: 41px;
	padding-inline: 1.5em;
}

footer .footer-link {
	text-decoration: none;
	color: var(--primary-color);
}

footer .footer-link:hover {
	text-decoration: underline solid var(--primary-color);
}

footer .footer-link-icon {
	transition: .15s ease-in-out;
	transition-property: width, height;
}

footer .footer-link-icon:hover {
	width: 20px;
	height: 20px;
}

@media screen and (width < 1400px) {
	
}