@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap");

.navbar {
	padding: 0;
	margin: 0;
	background-color: var(--primary-bg-color);
}

/*------------------------			 Fonts Start		----------------------*/

.dm-serif-text-regular {
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	font-style: normal;
}

.dm-serif-text-regular-italic {
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	font-style: italic;
}
/*------------------------			 Fonts End		----------------------*/

/*------------------------			 Menu Start		----------------------*/

.header-side-content ul.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.header-side-content #menu-container {
	position: fixed;
	top: 0;
	inset: 0;
	background-color: #000000cb;
	text-align: center;
	display: grid;
	place-content: center;
	z-index: 99;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition-property: height, opacity, visibility;
	transition-timing-function: cubic-bezier(0.14, 0.65, 0.15, 1);
	transition-duration: var(--def-transition-duration);
}

:root[menu-open] .header-side-content #menu-container {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

.header-side-content #menu-container .sub-menu {
    display: none;
    color: var(--secondary-color);
}

.header-side-content #menu-container .sub-menu.submenu-open {
    display: block;
}

.header-side-content #menu-container .sub-menu h2 {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 7em;
}

.header-side-content #menu-container .back-button {
    display: inline-block;
    font-size: 1.5em;
	width: 100%;
	height: 100%;
    color: var(--secondary-color);
    text-decoration: none;
}

.header-side-content #menu-container a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 4.5em;
	text-decoration: none;
	line-height: 1.4;
	width: 100%;
	height: 100%;
	padding-block: 1rem;
	color: var(--secondary-color);
	transition: color ease-in-out;
	transition-duration: var(--def-transition-duration);
}
/* 
.header-side-content #menu-container ul li a:has(+ .sub-menu.submenu-open):not(.back-button) .category-link-icon {
	content: '-';
}

.header-side-content #menu-container ul li a:has(+ .sub-menu:not(.submenu-open)):not(.back-button) .category-link-icon {
	content: '+';
} */

.header-side-content #menu-container ul:has(li:hover) a:not(:has(+ .sub-menu.submenu-open)):not(.back-button) {
	--secondary-color: rgb(79, 71, 67);
}

.header-side-content #menu-container ul a.back-button:hover {
	--secondary-color: #f4f3eec2 !important;
}

.header-side-content #menu-container ul a:hover {
	--secondary-color: #f4f3ee !important;
}

.header-side-content #menu-container a .letter {
	--def-transition-duration: 0.3s;
	display: inline-block;
	opacity: 0;
	transform: translate3d(0, 2.5rem, 0);
	transition-timing-function: ease-in-out;
	transition-property: opacity, transform;
	transition-duration: var(--def-transition-duration);
}

:root[menu-open] .header-side-content #menu-container a .letter {
	--def-transition-duration: 0.4s;
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

:root[menu-open]
	.header-side-content
	#menu-container
	li:nth-child(1)
	a
	.letter {
	transition-delay: calc(0.5s + 0.1s * var(--letter-index));
}

:root[menu-open]
	.header-side-content
	#menu-container
	li:nth-child(2)
	a
	.letter {
	transition-delay: calc(0.55s + 0.1s * var(--letter-index));
}

:root[menu-open]
	.header-side-content
	#menu-container
	li:nth-child(3)
	a
	.letter {
	transition-delay: calc(0.6s + 0.1s * var(--letter-index));
}

:root[menu-open]
	.header-side-content
	#menu-container
	li:nth-child(4)
	a
	.letter {
	transition-delay: calc(0.65s + 0.1s * var(--letter-index));
}

:root[menu-open]
	.header-side-content
	#menu-container
	li:nth-child(5)
	a
	.letter {
	transition-delay: calc(0.7s + 0.1s * var(--letter-index));
}

.header-side-content #menu-container li {
	--def-transition-duration: 0.1s;
	opacity: 0;
	transition-timing-function: ease-in-out;
	transition-property: opacity;
	transition-duration: var(--def-transition-duration);
}

:root[menu-open] .header-side-content #menu-container li {
	opacity: 1;
}

.header-side-content #menu-container li .category-img {
	--def-transition-duration: 0.3s;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	border-radius: 0.5em;
	transform: translate3d(0, 1.5em, 0);
	transition: var(--def-transition-duration) ease-in-out;
	transition-property: opacity, transform;
}

.header-side-content #menu-container li .category-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.header-side-content #menu-container li a:hover ~ .category-img {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0);
	z-index: -1;
}

.header-side-content #menu-container li .category-img:nth-of-type(1) {
	bottom: 0;
	right: 20em;
	width: 50em;
	height: 25em;
}

.header-side-content #menu-container li .category-img:nth-of-type(2) {
	max-width: 30%;
	inset: 6em auto 6em 6em;
}

.header-side-content #menu-container li .category-img:nth-of-type(3) {
	top: -1em;
	right: 10em;
	width: 400px;
}

.header-side-content #menu-container li a:hover ~ .category-img:nth-of-type(2) {
	transition-delay: calc(var(--def-transition-duration) * 0.25);
}

.header-side-content #menu-container li a:hover ~ .category-img:nth-of-type(3) {
	transition-delay: calc(var(--def-transition-duration) * 0.5);
}

/* Menu Button */
.header-side-content #menu-button {
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.5px;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	padding: 0.5rem;
	position: relative;
	z-index: 1000;
}

:root[menu-open] .header-side-content #menu-button {
	position: fixed;
	top: 0.82em;
	transform: rotate(180deg);
	transition: var(--def-transition-duration) transform ease-in-out;
}

:root[menu-open] .header-side-content #menu-button:hover {
	transform: rotate(0);
}

.header-side-content #menu-button span {
	width: 100%;
	height: 2.5px;
	background-color: var(--secondary-bg-color);
	border-radius: 2px;
	transition-property: background-color, transform;
	transition-duration: var(--def-transition-duration);
	transition-timing-function: ease-in-out;
}

.header-side-content #menu-button span:nth-of-type(2) {
	width: 70%;
}

:root[menu-open] .header-side-content #menu-button span {
	--secondary-bg-color: #f4f3ee;
}

:root[menu-open] .header-side-content #menu-button span:nth-child(1) {
	animation: 1s ease-in-out 1 forwards firstSpanDownRotate;
}

:root[menu-open] .header-side-content #menu-button span:nth-child(2) {
	animation: 0.7s ease-in-out 1 forwards middleSpanUpDown;
}

:root[menu-open] .header-side-content #menu-button span:nth-child(3) {
	animation: 1s ease-in-out 1 forwards lastSpanUpRotate;
}

@keyframes middleSpanUpDown {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, -9px, 0);
	}
	80% {
		opacity: 1;
	}
	90%,
	100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes firstSpanDownRotate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	60% {
		transform: translate3d(0, 6px, 0);
	}
	100% {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}
}

@keyframes lastSpanUpRotate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	60% {
		transform: translate3d(0, -6px, 0);
	}
	100% {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}
}

/* reverse animation */
:root[menu-closed] .header-side-content #menu-button span:nth-child(1) {
	animation: 1s ease-in-out 1 forwards firstSpanDownRotateReverse;
}

:root[menu-closed] .header-side-content #menu-button span:nth-child(2) {
	animation: 0.7s ease-in-out 1 forwards middleSpanUpDownReverse;
}

:root[menu-closed] .header-side-content #menu-button span:nth-child(3) {
	animation: 1s ease-in-out 1 forwards lastSpanUpRotateReverse;
}

/* Reverse Animations */
@keyframes firstSpanDownRotateReverse {
	0% {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}
	60% {
		transform: translate3d(0, 6px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes middleSpanUpDownReverse {
	0% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	20% {
		opacity: 1;
	}
	50% {
		transform: translate3d(0, -9px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes lastSpanUpRotateReverse {
	0% {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}
	60% {
		transform: translate3d(0, -6px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@media screen and (max-width: 1400px) {
	.header-side-content #menu-container a {
		font-size: 3.5em;
	}

	.header-side-content #menu-container li .category-img:nth-of-type(1) {
		bottom: 0;
		right: 15em;
		width: 40%;
		height: 25em;
	}
}

@media screen and (max-width: 1200px) {
	.header-side-content #menu-container li .category-img:nth-of-type(2) {
		inset: 25% auto 25% 2em;
	}

	.header-side-content #menu-container li .category-img:nth-of-type(3) {
		inset: 10% 2em 30% auto;
	}
}

@media screen and (max-width: 992px) {
	.header-side-content #menu-container li .category-img:nth-of-type(1) {
		right: 5em;
		width: 40%;
		height: 25em;
	}

	.header-side-content #menu-container li .category-img:nth-of-type(3) {
		inset: 10% 2em 50% auto;
	}
}

@media screen and (max-width: 768px) {
	.header-side-content #menu-container li .category-img {
		display: none;
	}
}
/*------------------------			 Menu End		----------------------*/

/*------------------------			 NavbarNav Start		----------------------*/
.navbar-nav {
	padding: 0;
	margin: 0;
	max-height: 4.3em;
	background-color: var(--primary-bg-color);
}

.navbar-nav .nav-item.nav-link.logo-header {
	position: relative;
	left: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--primary-color);
	margin-inline: auto;
	padding: 0;
	width: fit-content;
	line-height: 1.1;
	letter-spacing: 0.05em;
	z-index: 1000;
	transition-property: color;
	transition-duration: var(--def-transition-duration);
	transition-timing-function: ease-in-out;
}

:root[menu-open] .navbar-nav .nav-item.nav-link.logo-header {
	--primary-color: #f4f3ee;
	--secondary-color: #463f3a;
}

.navbar-nav .nav-item.nav-link.logo-header svg {
	height: 100%;
	max-height: 1.6em;
	width: 100%;
}

.navbar-nav .nav-item.nav-link.logo-header svg .st0 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: var(--primary-color);
}

.navbar-nav .nav-item.nav-link.logo-header svg .st1 {
	fill: none;
	stroke: #000000;
	stroke-width: 0.1;
	stroke-miterlimit: 10;
}

.navbar-nav .nav-item.nav-link.logo-header svg .st2 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: var(--primary-color);
	stroke: #000000;
	stroke-width: 0.1;
	stroke-miterlimit: 10;
}

.navbar-nav .nav-item.nav-link.logo-header svg .st3 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: var(--secondary-color);
	stroke: var(--secondary-color);
	stroke-width: 0.1;
	stroke-miterlimit: 10;
}

.navbar-nav .nav-item.nav-link.logo-header svg :is(.st0, .st1, .st2, .st3) {
	transition-property: fill;
	transition-duration: var(--def-transition-duration);
	transition-timing-function: ease-in-out;
}

.navbar-nav .nav-item.nav-link.logo-header .logo-header-text {
	font-size: 1.1em;
}

.navbar-nav-search::placeholder {
	text-align: center;
}

.navbar-nav .nav-item.nav-link {
	font-size: 1.3em;
	font-weight: 500;
	color: #695f57d2;
}

.navbar-nav .nav-item.nav-link.active {
	color: #000;
}

:root:not([menu-open]) .navbar-nav .nav-item.nav-link:hover {
	color: #000;
}

@media screen and (max-width: 1600px) {
	.navbar-nav .nav-item.nav-link.logo-header {
		left: 2.8em;
	}
}

@media screen and (max-width: 1400px) {
	.navbar-nav .nav-item.nav-link.logo-header {
		left: 2.2em;
	}
}

@media screen and (max-width: 1200px) {
	.navbar-nav .nav-item.nav-link.logo-header {
		left: 2em;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav .nav-item.nav-link.logo-header {
		left: 1.8em;
	}
}

@media screen and (max-width: 600px) {
	.navbar-nav .nav-item.nav-link.logo-header {
		left: 1.6em;
	}

	.navbar-nav .nav-item.nav-link.logo-header .logo-header-text {
		font-size: 1em;
	}
}
/*------------------------			 NavBar Nav End		----------------------*/

/*------------------------			 SideIcons Start		----------------------*/
nav .side-icons {
	min-width: fit-content;
	z-index: 1000;
}

nav .side-icons .dropdown {
	position: relative;
}

nav .side-icons .dropdown span svg {
	transition: .15s ease-in-out;
	transition-property: width, height;
}

nav .side-icons .dropdown span svg:hover {
	width: 28px;
	height: 28px;
}

nav .side-icons .dropdown .custom-dropdown-menu {
	position: absolute;
	right: 5px;
	background-color: var(--primary-bg-color);
	padding: 0.6em;
	list-style-type: none;
	border-radius: 0.2em;
	font-size: 1.3em;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: max-height var(--def-transition-duration) ease-in-out,
		opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav .side-icons .dropdown:hover .custom-dropdown-menu {
	max-height: 300px;
	opacity: 1;
	visibility: visible;
}

nav .side-icons .dropdown .custom-dropdown-menu li a {
	--def-transition-duration: 0.15s;
	text-align: left;
	padding: 0.4em;
	padding-inline: 1em;
	border-radius: 0.35em;
	transition: background-color var(--def-transition-duration) ease-in-out,
		color var(--def-transition-duration) ease-in-out,
		box-shadow var(--def-transition-duration) ease-in-out;
}

:root[menu-open] nav .side-icons .dropdown .custom-dropdown-menu li a {
	color: var(--primary-color);
}

nav .side-icons .dropdown .custom-dropdown-menu li:hover a {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	background-color: var(--primary-bg-color);
}

nav .side-icons :is(a, span) :not(ul a) {
	color: var(--primary-color);
	transition-duration: var(--def-transition-duration);
	transition-property: color;
	transition-timing-function: ease-in-out;
}

nav .side-icons :is(a, span):hover :not(ul a) {
	color: #000;
}

:root[menu-open] nav .side-icons :is(a, span) :not(ul a) {
	color: var(--secondary-color);
}

nav .side-icons a:hover svg {
	transition: .15s ease-in-out;
	transition-property: width, height;
	width: 23px;
	height: 23px;
} 

/*------------------------			 SideIcons End		----------------------*/
