@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Island+Moments&family=Sedan:ital@0;1&display=swap');

:root {
	--primary-color: #141414;
	--secondary-color: #f4f3ee;
	--primary-bg-color: #f4f3ee;
	--secondary-bg-color: #141414;
	--secondary-bg-color--transparent: #14141459;
	--tertiary-bg-color: #cbc6be;
	--def-transition-duration: 0.5s;
	--box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.08),
		-10px -10px 15px rgba(255, 255, 255, 0.05);
}

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	background-color: var(--primary-bg-color);
	overflow: hidden;
	overflow-x: hidden;
	/* Performance optimizations */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*------------------------			 Lenis Scroll CSS Setup Start		----------------------*/
@media screen and (width > 768px) {
	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-smooth iframe {
		pointer-events: none;
	}
}
/*------------------------			 Lenis Scroll CSS Setup End		----------------------*/


/*------------------------			 Loading Start		----------------------*/
.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--primary-bg-color);
	display: grid;
	place-content: center;
	z-index: 10000;
	will-change: opacity;
	contain: strict;
}

.loading.hide {
	animation: 1s ease-in-out forwards hideLoader 1;
}

@keyframes hideLoader {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

.loading svg {
	position: relative;
	bottom: 6.5em;
	right: 1em;
	width: 8em;
	height: 30em;
}

.loading svg :is(.st0, .st2, .st4) {
	stroke-width: 12;
	font-size: 25rem;
	font-weight: 700;
	text-transform: uppercase;
	stroke: var(--secondary-bg-color);
	animation: 3s infinite alternate ease-in-out animate-stroke;
}

.loading svg .st3 {
	fill: var(--primary-bg-color);
}

@keyframes animate-stroke {
	0% {
		fill: transparent;
		stroke: var(--secondary-bg-color);
		stroke-width: 3;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 32%;
	}

	50% {
		fill: transparent;
		stroke: var(--secondary-bg-color);
		stroke-width: 3;
	}

	80%,
	100% {
		fill: var(--secondary-bg-color);
		stroke: transparent;
		stroke-width: 0;
		stroke-dashoffset: -25%;
		stroke-dasharray: 32% 0;
	}
}

@media screen and (max-width: 1400px) {
	.loading svg {
		width: 7em;
		right: 0em;
	}
}

@media screen and (max-width: 992px) {
	.loading svg {
		width: 6.5em;
		bottom: 4em;
	}
}

@media screen and (max-width: 768px) {
	.loading svg {
		width: 5em;
	}
}
/*------------------------			 Loading End		----------------------*/


/*------------------------			 ScrollBar Start		----------------------*/
::-webkit-scrollbar {
	background-color: var(--primary-bg-color);
	width: 8px;
	height: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
}
/*------------------------			 ScrollBar End		----------------------*/


/*------------------------			 Alert Message Custom Start		----------------------*/
.alert-custom {
	position: fixed;
	width: min(70%, 45em);
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
/*------------------------			 Alert Message Custom Start		----------------------*/


/*------------------------			 Button Primary Start		----------------------*/
.btn.btn-primary, .btn.btn-primary:active {
	position: relative;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 0;
	color: var(--secondary-color);
	background: none;
	padding: .5em;
	font-size: 1.3em;
	transition-timing-function: ease-in-out;
	transition-duration: .7s;
	transition-property: color;
	overflow: hidden;
	z-index: 1;
}

.btn.btn-primary:hover {
	color: var(--primary-color);
}

.btn.btn-primary::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--secondary-bg-color);
	clip-path: inset(0 0 0 0);
	transition: clip-path 1s;
	transition-timing-function: cubic-bezier( 0.83, -0.02, 0.22, 0.86 );
	z-index: -1;
}

.btn.btn-primary:hover::after {
	clip-path: inset(0 100% 0 100%);
}
/*------------------------			 Button Primary End		----------------------*/


/*------------------------			 Button Secondary Start		----------------------*/
.btn.btn-secondary {
	position: relative;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 0;
	color: var(--primary-color);
	background: none;
	padding: .5em;
	font-size: 1.3em;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
	transition-property: color;
	overflow: hidden;
	z-index: 1;
}

.btn.btn-secondary::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--secondary-bg-color);
	clip-path: inset(0 100% 0 100%);
	transition: clip-path 1s;
	transition-timing-function: cubic-bezier( 0.83, -0.02, 0.22, 0.86 );
	z-index: -1;
}

.btn.btn-secondary:hover::after {
	clip-path: inset(0 0 0 0);
}

.btn.btn-secondary:hover {
	color: var(--secondary-color);
}
/*------------------------			 Button Secondary End		----------------------*/


/*      Custom Classes      */
.min-h-96 {
	min-height: 35em;
}

.w-max-content {
	width: max-content;
}

.w-fit-content {
	width: fit-content;
}

/*------------------------			 Anchor Tag Start		----------------------*/
a[disabled], a[disabled]:hover {
	pointer-events: none;
}
/*------------------------			 Anchor Tag End		----------------------*/
