{% extends 'store/layout.html' %}

{% block title %}
404 Page not found
{% endblock title %}

{% block style %}
<style>
	h1 {
		font-family: "engravers", serif;
		letter-spacing: -5px;
		font-size: 7em;
		margin-block: 1em;
		color: #14141459;
	}

	@media screen and (width < 768px) {
		h1 {
			font-size: 5em;
		}
	}
	
	@media screen and (width < 500px) {
		h1 {
			margin-top: 3em;
			margin-bottom: 0;
			font-size: 3em;
		}
	}
</style>
{% endblock style %}

{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
	<h1 class="text-center mb-5">404 Not Found</h1>
	<a href="{% url 'store:index' %}" class="btn btn-primary w-fit-content px-5">Back to Home</a>
</div>
{% endblock body %}