.swiper.categories-grid-swiper {
	width: 100%;
	height: 100%;
	margin-inline: auto;
	margin-block: 20px;
	border-radius: 10px;
}

.swiper.categories-grid-swiper .swiper-slide-active {
	transform: scale(.972);
}

.swiper.categories-grid-swiper .swiper-wrapper .swiper-slide {
	transition: .2s ease-in-out;
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: calc((100% - 4rem) / 2) !important;
	border-radius: 10px;
	overflow: hidden;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper.categories-grid-swiper .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 20px;
	/* font-size: 12px; */
	/* color: #000; */
	opacity: 1;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
  }

.swiper.categories-grid-swiper .swiper-pagination-bullet-active {
	color: #fff;
	/* background: wheat; */
	border: 2px solid wheat;
}

@media screen and (max-width: 990px) {
    .swiper.categories-grid-swiper {
		height: 40em;
	}
}