:root {
	--drop-down-background: black;
	--primary-text-color: rgb(85, 49, 13);
	--secondary-text-color: black;
	--heading-text-color: wheat;
	--hover-text-color: wheat;
	--nav-link: #141414;
	--nav-link-active: wheat;
	--box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.08),
    -10px -10px 15px rgba(255, 255, 255, 0.05);
}


/* //////////////////////////////////////////	Top Bar Nav	/////////////////////////////////////////// */
.navbar .container-fluid .navbar-brand {
	color: var(--primary-text-color);
}

.navbar .container-fluid .navbar-brand span.align-middle {
	font-size: 4.8rem;
}

.navbar .container-fluid .nav-item
{
	font-size: larger;
}

.navbar .container-fluid .nav-item.dropdown .dropdown-menu,
.navbar .container-fluid .navbar-nav .nav-item.btn-group .dropdown-menu,
.navbar .container-fluid .nav-item.btn-group .dropdown-menu.dropdown-menu-dark
{
	background: var(--drop-down-background);
	box-shadow: var(--box-shadow);
}

.navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-item,
.navbar .container-fluid .navbar-nav .nav-item.btn-group .dropdown-menu .dropdown-item {
	transition: .1s;
	color: whitesmoke;
}

.navbar .container-fluid .nav-item.dropdown .dropdown-menu .dropdown-item:hover,
.navbar .container-fluid .navbar-nav .nav-item.btn-group .dropdown-menu .dropdown-item:hover,
.navbar .container-fluid .nav-item.btn-group .dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
	color: var(--hover-text-color);
}

.navbar .container-fluid .profile_icon {
	font-size: 1.4rem;
}

.navbar .container-fluid .btn
{
	color: var(--secondary-text-color);
	border-radius: 50px;
	font-size: 1.4rem;
	background: rgba(245, 222, 179, 0.297);
}

.navbar .container-fluid .btn:hover, .navbar .container-fluid .btn.active
{
	color: var(--secondary-text-color);
	background: var(--nav-link-active);
	border: 1px var(--nav-link-active) solid;
}

footer .nav .nav-item .nav-link
{
	font-weight: 100;
	color: rgba(255, 255, 255, 0.582);
}

footer .row .nav-item.dropdown {
	width: -moz-fit-content;
	width: fit-content;
}

footer .row .nav-item.dropdown .dropdown-menu.dropdown-menu-dark {
	background: var(--drop-down-background);
}

footer .row .nav-item a {
	width: -moz-fit-content;
	width: fit-content;
}

footer .row form, footer .d-flex.flex-wrap, footer .row.container h5 {
	color: var(--heading-text-color);
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
	color: var(--nav-link);
}

.navbar.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link, footer .nav .nav-item .nav-link:hover
{
	color:  var(--nav-link-active);
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link.active,
.navbar.navbar-expand-lg .nav-item .nav-link.active
{
	color: var(--nav-link-active);
}

.navbar-toggler[aria-expanded="true"], .navbar-toggler[aria-expanded="false"]
{
	border: none;
	outline: none;
	display: flex;
	background: none;
	position: relative;
	align-items: center;
	color: transparent;
	padding-inline: 0px;
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}


.navbar-toggler[aria-expanded="true"] + div + .btn
{
	margin: auto;
}

/* //////////////////////////////////////////	FOOTER	/////////////////////////////////////////// */

                /* Responsive */
@media screen and (max-width: 990px) {
    .navbar
	{
		height: initial;
	}

	.navbar-toggler::before {
		content: '';
		width: 30px;
		height: 3px;
		background-color: wheat;
		position: relative;
		transform: translateY(-7px);
		transition: 0.3s;
	}

	.navbar-toggler::after {
		content: '';
		width: 30px;
		height: 3px;
		background-color: wheat;
		position: absolute;
		transform: translateY(7px);
		transition: 0.3s;
	}
}

@media screen and (width <= 400px) {
	.navbar .container-fluid .navbar-brand span.align-middle {
		font-size: 3.8rem;
	}
}

@media screen and (width <= 400px) {
	.navbar .container-fluid .navbar-brand span.align-middle {
		font-size: 3.5rem;
	}
}