@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

:root {
	--primary-color: #463F3A;
	--primary-bg-color: #F4F3EE;
	--secondary-bg-color: #BCB8B159;
	--tertiary-bg-color: #CBC6BE;
}

.navbar .nav-item.nav-link.logo-header, .logo-header {
	font-family: "Sawarabi Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4em;
	color: var(--primary-color);
}

.navbar .nav-item.nav-link.logo-header {
	position: relative;
	top: -15px;
}

.navbar-search::placeholder {
	text-align: center;
}

/* .bottom-navbar {
	background-color: var(--secondary-bg-color);
	margin-block: 1.6em;
} */

.navbar .nav-item.nav-link {
	font-size: 1.3em;
	font-weight: 500;
	color: #695f57d2;
}

.navbar .nav-item.nav-link.active {
	color: #000;
}

.navbar .nav-item.nav-link:hover {
	color: #000;
}