{% extends './layout.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/store/index.css' %}">
{% endblock %}

{% block body %}

	<!-- Arrival Start -->
	<div class="container-fluid arrival">
		<div class="text">
			<h1 class="animate-text"></h1>
			<p class="animate-text"></p>
		</div>
		<div class="arrival-image">
			<img src="{% static 'img/carousel/arrival.webp' %}" alt="New Arrivals" decoding="async" loading="eager">
		</div>
	</div>
	<!-- Arrival End -->

	<div class="divider"></div>
    
	<!-- Catalog Start -->
	<div class="container catalog">
		<h1>CATALOG</h1>
		<p>Explore our collection.</p>
		<div class="catalog-grid">
			<div class="catalog-grid-item appear"><img src="{% static 'img/catalog/img-1.webp' %}" alt="item 1" decoding="async" loading="lazy"></div>
			<div class="catalog-grid-item appear"><img src="{% static 'img/catalog/img-2.webp' %}" alt="item 2" decoding="async" loading="lazy"></div>
			<div class="catalog-grid-item appear"><img src="{% static 'img/catalog/img-3.webp' %}" alt="item 3" decoding="async" loading="lazy"></div>
			<div class="catalog-grid-item appear"><img src="{% static 'img/catalog/img-4.webp' %}" alt="item 4" decoding="async" loading="lazy"></div>
			<div class="catalog-grid-item appear"><img src="{% static 'img/catalog/img-5.webp' %}" alt="item 5" decoding="async" loading="lazy"></div>
			<div class="catalog-grid-item appear"><a href="#" class="btn btn-explore">Explore More</a></div>
		</div>
	</div>
	<!-- Catalog End -->

	<div class="divider"></div>

	<!-- About Start -->
	<div class="container about">
		<h1>About</h1>
		<p>ZUBIES-where passion is the base and fashion is in every step, every single move articulates a story. Being amongst the latest brands, we are committed to fashioning stilettos and shoes that are extremely beautiful, where elegance combines with innovation.</p>
		<div class="about-img appear"><img src="{% static 'img/catalog/img-5.webp' %}" alt="leather shoe"></div>
		<p>We believe that every pair of shoes should be more than just an accessory; they should be a statement of style and individuality. Our team of designers and artisans is committed to creating high-quality footwear that combines timeless aesthetics with contemporary trends.</p>
		<h1>Store</h1>
		<p>Our journey began with a vision to revolutionize the footwear industry by offering designs that not only captivate but also inspire confidence. We invite you to go through our collections and experience the artistry and craftsmanship that define ZUBIES. Step into elegance and let your shoes make a difference.</p>
		<div class="about-img appear"><img src="{% static 'img/categories/stilettos/img-2.webp' %}" alt="stilettos"></div>
		<div class="btn-read-container appear"><a href="#" class="btn btn-read">Read More</a></div>
	</div>
	<!-- About End -->

	<div class="divider"></div>

	<!-- Hero Start -->
    <!-- <div class="container-fluid hero py-5 pe-lg-5">
        <div class="side"></div>
        <div class="wrapper">
            <div class="text-light text">
                <h1 class="text-uppercase lh-1">
                    <span class="fw-bold">special</span><br>
                    <span class="fw-normal fst-italic">fashion</span>
                </h1>
                <p class="fs-3 fst-italic lh-1">debut of our exclusive<br>Stelliot couture!</p>
                <div class="box"></div>
            </div>
        </div>
        <div class="hero-image"><img src="{% static 'img/cover.jpeg' %}" alt="Cover"></div>
    </div> -->
    <!-- Hero End -->

	<!-- Categories Start -->
    <!-- <div class="container-fluid categories mb-5">
        <div class="categories-main">
            <div class="item item-even">
                <img src="{% static 'img/cat-stilettos.png' %}" alt="Stilettos">
                <p>Stilettos.</p>
            </div>
            <div class="item item-odd">
                <img src="{% static 'img/cat-jacket.png' %}" alt="Jacket">
                <p>Jackets.</p>
            </div>
            <div class="item item-even">
                <img src="{% static 'img/cat-shoes.png' %}" alt="Shoes">
                <p>Shoes.</p>
            </div>
            <div class="item item-odd">
                <img src="{% static 'img/cat-bag.png' %}" alt="Bags">
                <p>Bags.</p>
            </div>
        </div>
        <div class="statement">
            <p>every step is a statement, and every layer is luxury</p>
        </div>
    </div> -->
    <!-- Categories End -->
    

{% endblock body %}


{% block script %}

	<script src="{% static 'js/store/index.js' %}" data-rel-js></script>
	<script>
		const textOptions = [
        { h1: "New Arrivals", p: "We know you'll love!", img: "{% static 'img/carousel/arrival.webp' %}" },
        { h1: "Seasoned Picks", p: "Perfect for the season.", img: "{% static 'img/carousel/seasoned.webp' %}" },
        { h1: "Most Loved", p: "Fan favorites!", img: "{% static 'img/carousel/featured.webp' %}" },
        { h1: "Upto 50% Sale", p: "Deals you can't miss!", img: "{% static 'img/carousel/discount2.webp' %}" },
    ];

	</script>
{% endblock script %}
