{% extends './layout.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/store/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
	<style>
		.contact .contact-img-section {
			background-image: url('{% static "img/index/contact-side.webp" %}');
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Carousel Start -->
	<div class="container-fluid carousel">
		<div class="text">
			<h1 class="animate-text"></h1>
			<p class="animate-text"></p>
		</div>
		<a href="#" class="carousel-image">
			<img src="{% static 'img/index/carousel/arrival.webp' %}" alt="New Arrivals" decoding="async" loading="eager">
		</a>
	</div>
	<!-- Carousel End -->

	<div class="divider"></div>
    
	<!-- Catalog Start -->
	<div class="container catalog">
		<h1>CATALOG</h1>
		<p>Explore our collection.</p>
		<div class="catalog-grid">
			<div class="catalog-grid-item appear"><a href="{% url 'store:catalog_category' category_title='men' %}"><img src="{% static 'img/index/catalog/img-1-3.webp' %}" alt="item 1" decoding="async" loading="lazy"></a></div>
			<div class="catalog-grid-item appear"><a href="#" disabled><img src="{% static 'img/index/catalog/img-2.webp' %}" alt="item 2" decoding="async" loading="lazy"></a></div>
			<div class="catalog-grid-item appear"><a href="#" disabled><img src="{% static 'img/index/catalog/img-3-1.webp' %}" alt="item 3" decoding="async" loading="lazy"></a></div>
			<div class="catalog-grid-item appear"><a href="#" disabled><img src="{% static 'img/index/catalog/img-4-1.webp' %}" alt="item 4" decoding="async" loading="lazy"></a></div>
			<div class="catalog-grid-item appear"><a href="{% url 'store:catalog_category' category_title='chelsea' %}"><img src="{% static 'img/index/catalog/img-5-1.webp' %}" alt="item 5" decoding="async" loading="lazy"></a></div>
			<div class="catalog-grid-item"><a href="{% url 'store:catalog' %}" class="btn btn-explore appear">Explore More</a></div>
		</div>
	</div>
	<!-- Catalog End -->

	<div class="divider"></div>

	<!-- About Start -->
	<div class="container about">
		<h1>About</h1>
		<p>ZUBIES-where passion is the base and fashion is in every step, every single move articulates a story. Being amongst the latest brands, we are committed to fashioning stilettos and shoes that are extremely beautiful, where elegance combines with innovation.</p>
		<div class="about-img appear"><img src="{% static 'img/index/about/img-1.webp' %}" alt="leather shoe"></div>
		<p>We believe that every pair of shoes should be more than just an accessory; they should be a statement of style and individuality. Our team of designers and artisans is committed to creating high-quality footwear that combines timeless aesthetics with contemporary trends.</p>
		<h1>Store</h1>
		<p>Our journey began with a vision to revolutionize the footwear industry by offering designs that not only captivate but also inspire confidence. We invite you to go through our collections and experience the artistry and craftsmanship that define ZUBIES. Step into elegance and let your shoes make a difference.</p>
		<div class="about-img appear"><img src="{% static 'img/index/about/img-2.webp' %}" alt="stilettos"></div>
		<div class="btn-read-container"><a href="#" class="btn btn-read appear">Read More</a></div>
	</div>
	<!-- About End -->

	<div class="divider"></div>

	<!-- Subscribe Start -->
	<div class="container-fluid subscribe">
		<div class="subscribe-img"><img src="{% static 'img/index/subscribe1.webp' %}" alt="subsribe casual shoe background cover"></div>
		<h1>Subscribe</h1>
		<p>Subscribe now for exclusive updates, offers, and news delivered directly to your inbox!</p>
		<form method="post" id="form-subscribe">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Your Email" required>
			<button type="submit">Subscribe</button>
		</form>
	</div>
	<!-- Subscribe End -->
    
	<div class="divider" id="contact-section"></div>

	<!-- Contact Us Start -->
	<div class="container contact">
		<p>Step into style, fall in love with every step.</p>
		<h1>Reach Out</h1>
		<form method="POST" id="contact-us" class="auth_form row">
			{% csrf_token %}
			<div class="col-12 col-md-6">
				<input type="text" class="form-control" name="fname" placeholder="First Name">
			</div>
			<div class="col-12 col-md-6">
				<input type="text" class="form-control" name="lname" placeholder="Last Name">
			</div>
			<div class="col-12"><input type="email" class="form-control" name="email" placeholder="Email"></div>
			<div class="col-12"><textarea name="message" class="form-control" placeholder="Message" rows="4"></textarea></div>
			<div class="col-12"><button type="submit" class="btn btn-continue">Send</button></div>
			<p class="form_message"></p>
		</form>
		<div class="contact-img-container">
			<div class="contact-img-section contact-img-left"></div>
			<div class="contact-img-section contact-img-center"></div>
			<div class="contact-img-section contact-img-right"></div>
		</div>
	</div>
	<!-- Contact Us End -->

	<div class="divider"></div>

{% endblock body %}


{% block script %}

	<script src="{% static 'js/store/index.js' %}" data-rel-js></script>
	<script>
		const textOptions = [
			{ h1: "New Arrivals", p: "We know you'll love!", img: "{% static 'img/index/carousel/arrival.webp' %}", href: "{% url 'store:products-by-collection' collection_slug='new-arrivals' %}" },
			{ h1: "Fall/Winter 24'", p: "Perfect for the season.", img: "{% static 'img/index/carousel/seasoned-1.webp' %}", href: "{% url 'store:products-by-collection' collection_slug='fallwinter-24' %}" },
			{ h1: "Flat 20% Sale", p: "Deals you can't miss!", img: "{% static 'img/index/carousel/discount-2.webp' %}", href: "{% url 'store:discount-products' %}" },
			{ h1: "Fall in Love", p: "Coming Soon: Women's Heels & Shoes!", img: "{% static 'img/index/carousel/heels.webp' %}" },
		];

		const contact_url = "{% url 'store:contact-us' %}";
		const subscribe_url = "{% url 'more::subscribe' %}";
	</script>
{% endblock script %}
