{% extends 'store/layout.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}{{ product.title | title }}{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/store/products.css' %}">
{% endblock %}

{% block body %}
<article class="product">
	<div class="card col-11 col-md-10 order-md-last order-lg-first my-4 mt-5">
		<div class="row g-4">
			<!------------ Image -------------->
			<div class="col-12 col-lg-8">
				<div class="product-images-grid">
					{% if product.get_images %}
						{% for product_img in product.get_images %}
							<div class="product-img-item">
								<img src="{{ product_img.image.url }}" alt="{{ product_img.alt_text }}" loading="lazy" decoding="async">
							</div>
						{% endfor %}
					{% else %}
						<div class="product-img-item"><img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top" alt="no image found"></div>
					{% endif %}
				</div>
			</div>

			<!-------- Product Body ---------->
			<div class="col-12 col-lg-4 order-md-first order-lg-last">
				<div class="card-body d-flex flex-column gap-3">
					<h1 class="card-title">{{ product.title | title }} </h1>
					<div>
						{% if product.discount_price %}
							Rs. <del>{{ product.regular_price|floatformat }}</del>
							{{ product.discount_price|floatformat }}
						{% else %}
							Rs. {{ product.regular_price|floatformat }}
						{% endif %}
					</div>
					{% if product.specification.first %}
						<div class="mb-3 d-flex flex-column gap-2">
							{{ product.specification.all|group_attributes|safe }}
						</div>
					{% endif %}
					<div class="card-text">
						<button type="button" class="min-btn btn p-0">
							<ion-icon name="remove-outline"></ion-icon>
						</button>
						<span class="quantity bg-white rounded-pill">1</span>
						<button class="plus-btn btn p-0" type="button">
							<ion-icon name="add-outline"></ion-icon>
						</button>
					</div>
					<div class="col-12 d-flex flex-lg-column flex-xl-row gap-2">
						<button class="btn btn-primary fs-5 d-flex align-items-center justify-content-center gap-2 flex-grow-1"
							type="button" id="add-to-basket" data-index="{{  product.id }}"><ion-icon name="bag-add-outline"></ion-icon>Throw to Basket</button>
						<button
						data-csrf="{{ csrf_token }}" id="wishlist-btn" class="btn btn-secondary d-flex align-items-center justify-content-center gap-2">
							{% if product.is_wishlisted %}
								<ion-icon name="heart"></ion-icon>
								<span class="d-none d-lg-inline d-xl-none fs-5">Unwish</span>
							{% else %}
								<ion-icon name="heart-outline"></ion-icon>
								<span class="d-none d-lg-inline d-xl-none fs-5">Favourite</span>
							{% endif %}
						</button>
					</div>
					<p class="col card-text mt-3">{{ product.description | linebreaksbr }}</p>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}

{% block script %}
	<script>
		// Quantity Change
		$('.plus-btn').on('click', function (e) {
			$('.quantity').text(parseInt($('.quantity').text()) + 1);
		})
		$('.min-btn').on('click', function (e) {
			let quantity = parseInt($('.quantity').text());
			if (quantity > 1) {
				$('.quantity').text(quantity - 1);
			}
		})
		// Add to Basket
		$(document).on('click', '#add-to-basket', function (e) {
			e.preventDefault();
			$(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
			$(this).prop('disabled', true);

			var attribute_ids = []
			$('input[type="radio"]:checked').each(function (index, element) {
				attribute_ids.push($(element).val())
			});

			var csrfToken = "{{ csrf_token }}";
			$.ajax({
				type: "POST",
				url: "{% url 'basket:basket_update' %}",
				data: {
					productId: $('#add-to-basket').data('index'),
					product_qty: parseInt($('.quantity').text()),
					attribute_ids: JSON.stringify(attribute_ids),
					csrfmiddlewaretoken: csrfToken,
					action: 'add'
				},
				success: function (response) {
					$('.quantity').text(1);
					$('#basket-qty').text(response.qty);
					$('#add-to-basket').html('<ion-icon name="bag-add-outline"></ion-icon>Throw to Basket').prop('disabled', false);
				},
				error: function (xhr, errmessage, err) {
					$('#add-to-basket').html('Error: Try Again');
					console.error('Error:', err);
				}
			});
		})
		// wishlist
		$('#wishlist-btn').click(function(e) {
			e.preventDefault();
			const button = $(this);
			const csrf = button.data('csrf');
			const button_html = button.html();

			button.html('<span class="spinner-border" style="width: 1em; height: 1em" role="status" aria-hidden="true"></span><span class="d-none d-lg-inline d-xl-none fs-5">Loading ...</span>');
			button.prop('disabled', true);
	
			$.ajax({
				url: `{% url 'account:add-to-wishlist' product_slug=product.slug %}`,
				method: 'POST',
				headers: {
					'X-CSRFToken': csrf
				},
				success: function(response) {
					if (response.status === 'success') {
						button.prop('disabled', false);
						if (response.in_wishlist)
							button.html('<ion-icon name="heart"></ion-icon><span class="d-none d-lg-inline d-xl-none fs-5">Unwish</span>')
						else
							button.html('<ion-icon name="heart-outline"></ion-icon><span class="d-none d-lg-inline d-xl-none fs-5">Favourite</span>')

					}
				},
				error: function(xhr, status, error) {
					if (xhr.status === 302 || xhr.status === 401 || xhr.status === 403) {
						// Redirect to login page
						window.location.href = `/account/login/?next=${window.location.pathname}`;
					} else {
						console.error('Error updating wishlist:', error);
						// Reset button state
						button.prop('disabled', false);
						button.html(button_html);
					}
				}
			});
		});
	</script>
{% endblock %}